@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fafeff;
}
.clock-heading {
  padding: 10px;
  text-align: center;
  font-size: 35px;
  font-family: Rubik Doodle Shadow;
}
.main-clock {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  background-color: #20e4ea;
  border-bottom-right-radius: 65px;
  border-top-left-radius: 65px;
  box-shadow: 7px -4px 129px 13px rgba(32, 228, 234, 0.81);
}
.clock-display {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 40px;
  color: black;
  font-family: Rubik Doodle Shadow;
  font-weight: 800;
  /* border: 4px dotted blue;*/
}
.clock-display span {
  margin: 10px;
}
h2 {
  font-size: 50px;
}
.link {
  text-align: center;
  color: #20e4ea;
  font-size: 22px;
  font-weight: 400;
  font-family: Rubik Doodle Shadow;
}
